[submodule "mysql/sei-db-ref-executivo"]
	path = mysql/sei-db-ref-executivo
	url = http://softwarepublico.gov.br/gitlab/sei/sei-db-ref-executivo.git
[submodule "oracle/sei-db-ref-executivo"]
	path = oracle/sei-db-ref-executivo
	url = http://softwarepublico.gov.br/gitlab/sei/sei-db-ref-executivo.git
[submodule "sqlserver/sei-db-ref-executivo"]
	path = sqlserver/sei-db-ref-executivo
	url = http://softwarepublico.gov.br/gitlab/sei/sei-db-ref-executivo.git
