##### PARAMETROS DE CONSTRUÇÃO DO AMBIENTE DE DESENVOLVIMENTO #####

# Localização dos códigos-fontes do projeto SEI
source_dir: "../sei"

# Localização do dump do banco de dados do SEI (Ps: Sem instrução CREATE DATABASE)
script_sei: "mysql/sei_2_5_1.sql"

# Localização do dump do banco de dados do SIP (Ps: Sem instrução CREATE DATABASE)
script_sip: "mysql/sip_2_5_1.sql"

# Diretório da máquina host para disponibilização dos arquivos externos do SIE
repositorio_arquivos: "../sei-arquivos"

# Quantidade de memória utilizada pela VM do VirtualBox (em Megabytes)
memoria_vm: "2048"